@import '../../../variables.scss';

.Icon-cont {
    @include center;
    // background-color: blue;
    // width: 1rem;
    // height: 1rem;
}

.Icon-basic {
    // background-color: red;
    @include icon;
    width: 1rem;
    height: 1rem;
}

.Icon-noFill {
    @include icon;
    fill: none;
    width: 1rem;
    height: 1rem;    
}

.Icon-secondary {
    width: 1rem;
    height: 1rem;
    stroke: var(--ac1);
    fill: var(--ac1);
}

.Icon-none {
    width: 0rem;
    height: 0rem;
}