@import '../../../variables.scss';

.Icon-cont {
	@include center;
}

.Icon-basic {
	@include icon;
	height: 1rem;
	width: 1rem;
}

.Icon-noFill {
	@include icon;
	height: 1rem;    
	width: 1rem;
	fill: none;
}

.Icon-secondary {
	stroke: var(--ac1);
	fill: var(--ac1);
	height: 1rem;
	width: 1rem;
}

.Icon-none {
	height: 0rem;
	width: 0rem;
}