@import '../../../variables.scss';

.Title-Text {
    font-size: 16px;
    color: var(--t);
}

.Title-TextSecondary {
    font-size: 16px;
    color: var(--ac);
}

.Title-TextBold {
    font-weight: 600;
    font-size: 16px;
    color: var(--t);
}